@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}
.container {
   width: 100%;
    max-width: 1270px;
}
@media screen and (min-width:768px) and (max-width:992px){
    .container{
        max-width: 704px;
    }
}

header {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .container {
        
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: clamp(160px, 3vw, 237px);
        }

        nav {
            display: flex;
            gap: 33px;

            @media screen and (max-width:767px) {
                display: none;
            }

            a {
                font-family: Barlow;
                font-weight: 700;
                font-style: Bold;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.92px;
                text-transform: uppercase;
                text-decoration: none;
                color: #83888F;
            }

        }

        #menu {
            display: none;

            @media screen and (max-width:767px) {
                display: flex;
            }
        }
    }
}

#heroSection {
  padding-top: 80px;
    .container {
        
       .box-img{

         height: 584px;
            @media screen and (max-width:767px){
                 background-image: url(./Bitmap-dark.jpg);
                height: 506px;
            }
            @media screen and (min-width:768px) and (max-width:992px){
                height: 504px;
            }
            background-image: url(./Bitmap.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 12px;
             
       }

          .text{
            width: 493px;
            padding: 112px 0px 112px 80px;
           
             @media screen and (max-width:767px){
                text-align: center;
                width: 295px;
                padding: 16px;
                padding-top: 96px;
             }
             @media screen and (min-width:768px) and (max-width:992px){
                padding: 94px 0px 94px 48px;
                width: 420px;
                
             }
              h1 {
                font-family: Fraunces;
                font-weight: 900;
                font-size: clamp(40px, 4vw, 72px);
                line-height: 100%;
                letter-spacing: 0px;
                color: #FEFCF7;
                margin-bottom: 32px;

                @media screen and (max-width:767px) {

                    text-align: center;
                }

            }

            p{
                font-family: Barlow;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                color: #FEFCF7;
                margin-bottom: 48px;

                @media screen and (max-width:767px) {
                    text-align: center;
                }

            }

            button {
                border-radius: 6px;
                background-color: #0E8784;
                padding: 16px 32px;
                border: 0;
                font-family: Fraunces;
                font-weight: 900;
                font-style: Black;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: center;
                color: #FEFCF7;

            }
            button:hover{
                background-color: #66D2CF;
            }
          }
        }
 }


#section2 {
   
    @media screen and (max-width:767px){
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .container{
        img{
           padding-left: 48px;
           @media screen and (max-width:767px){
            width: 100%;
             padding-left: 0;
           }
           @media screen and (min-width:768px) and (max-width:992px){
            padding-left: 0;
           }
        }

        height: 507px;
         @media screen and (max-width:767px){
            height: 1420px;
         }
         @media screen and (min-width:768px) and (max-width:992px){
            height: 884px;
         }
        position: relative;
        .row{
            position: absolute;
            top: 120px;
            z-index: 1;
            text-align: center;
             @media screen and (max-width:767px){
                top: 40px;
             }

         .cards{
            @media screen and (min-width:768px) and (max-width:992px){
                position: relative;
              display: flex;
              flex-direction: row !important;
             }
               .text{
                h2{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 24px;
                    line-height: 150%;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #333D4B;
                    padding-top: 48px;
                    padding-bottom: 24px;
                     @media screen and (max-width:767px){
                        padding-top: 24px;
                        padding-bottom: 16px;
                     }
                     @media screen and (min-width:768px) and (max-width:992px){
                        text-align: start;
                        padding-top: 24px;
                        padding-bottom: 0;
                        padding-left: 32px;
                     }
                }
                p{
                    font-family: Barlow;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #333D4B;
                     @media screen and (min-width:768px) and (max-width:992px){
                        text-align: start;
                     }
                }
            }
         }
        }
    }
}
#section3{
   
  .container{
    height: 577px;
    background-color: #333D4B;
     @media screen and (min-width:768px) and (max-width:992px){
     margin-bottom: 340px;
     }
     @media screen and (max-width:767px){
        margin-top: 280px;
     }
    .box{
    
        h3{
            font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: 0px;
            text-align: center;
            color: #FEFCF7;
            padding-top: 96px;
        }
        p{
            padding-left: 370px;
            padding-right: 370px;
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
            text-align: center;
             color: #FEFCF7;
             @media screen and (max-width:767px){
                padding-left: 16px;
                padding-right: 16px;
                padding-bottom: 64px;
             }
             @media screen and (min-width:768px) and (max-width:992px){
                 padding-left: 82px;
                padding-right: 82px;
             }
        }
    }
    .row{
        padding-left: 85px;
        padding-right: 85px;
        @media screen and (max-width:767px){
            position: relative;
            padding-left: 31px;
            padding-right: 31px;
        }
       
        .card-content{
       
        transform: translateY(97px);
        height: 100%;
       background-color: #0E8784;
       padding: 48px 32px 48px 32px;
       border-radius: 8px;
        @media screen and (max-width:767px){
            padding: 24px 20px 24px 20px;
          
            transform:none;
            height: 258px;
          }
           @media screen and (min-width:768px) and (max-width:992px){
            display: flex;
            flex-direction: row !important;
            padding: 40px 48px 40px 48px;
            height: 188;
           }
       img{
        width: 72px;
        height: 72px;
        @media screen and (max-width:767px){
           width: 60px;
            height: 60px; 
        }
        @media screen and (min-width:768px) and (max-width:992px){
            width: 60px;
            height: 60px;
        }
       }
        .text{
             @media screen and (min-width:768px) and (max-width:992px){

                padding-left:24px;
            }
            
            h1{
            font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
            font-size: 24px;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: center;
            color: #FEFCF7;
            @media screen and (min-width:768px) and (max-width:992px){
                text-align: start;
            }
             @media screen and (max-width:767px){
               white-space: nowrap;
               
             }
        }
        p{
            font-family: Barlow;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0px;
            text-align: center;
            color: #FEFCF7;
           @media screen and (min-width:768px) and (max-width:992px){
                text-align: start;
            }
        }
        }
    }
    }
  }
}
#section4{
   
    width: 100%;
    background-color:#FEFCF7;
    display: flex;
    justify-content: center;
   padding:  140px 0;
   @media screen and (max-width:767px){
     padding: 80px 0;
   }
   @media screen and (min-width:768px) and (max-width:992px){
    padding: 80px 0;
    
   }
    .continer{
       width: 1110px ;
       min-height: 703px;
       background-color: #FEFCF7;
      padding-right: 63px;
         @media screen and (max-width:767px){
            width: 100%;  
          padding: 0 16px;
          padding-top: 752px;
          
         }
          @media screen and (min-width:768px) and (max-width:992px){
            
            width: 704px;
          }
       .box{
        width: 1047;
        
        background-color:#FEFCF7;
          display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: space-between;

        
         margin-bottom: 64px;
         h1{
             font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
             font-size: 24px;
            line-height: 150%;
            letter-spacing: 0px;
            text-align: center;
            color: #83888F;
            @media screen and (max-width:767px){
                margin: auto;

            }
         }
         img{
            width: 793px;
            height: 31px;
           margin-top: 80px;
           margin-bottom: 80px;
           margin-right: 254px;
             @media screen and (max-width:767px){
                display: none;
             }
            @media screen and (min-width:768px) and (max-width:992px){
                width: 464px;
            } 
         }
         .cards-3{
        width: calc((100% - (96px*2)) / 3);
        min-height: 355px;
        background-color: #FEFCF7;
        @media screen and (max-width:767px){
                width: 100%;
                display: flex;
                flex-direction: column;
            
             }
        h2{
            font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
             font-size: 72px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #FDD6BA;
            margin-bottom: 40px; 
             @media screen and (max-width:767px){
                padding-bottom: 24px;
                padding-top: 40px;
                 text-align: center;
            }
        }
        h3{
           font-family: Fraunces;
            font-weight: 900;
            font-style: Black;
             font-size: 32px;
            line-height: 100%;
            letter-spacing: 0px;
            color: #333D4B;
            margin-bottom: 40px; 
        }
         @media screen and (max-width:767px){
              text-align: center;
         }
        p{
             font-family: Barlow;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #333D4B;
                @media screen and (max-width:767px){
              text-align: center;
         }   
        } 
           
       }
       }
       button {
                border-radius: 6px;
                background-color: #0E8784;
                padding: 16px 32px;
                border: 0;
                font-family: Fraunces;
                font-weight: 900;
                font-style: Black;
                font-size: 18px;
                line-height: 140%;
                letter-spacing: 0px;
                text-align: center;
                color: #FEFCF7;
                @media screen and (max-width:767px){
                    display: flex;
                    align-items: center;
                    margin: auto;
                }
            }
            button:hover{
                background-color: #66D2CF;
            }
    }
}
footer{
    width: 100%;
    height: 15vh;
    display: flex;
  justify-content: center;
   @media screen and (max-width:767px){
     padding: 80px 0;
     padding: 0 16px;
     
   }
    .container-2{
        width: 1280px;
        height: 120px;
        background-color: #333D4B;
       display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        @media screen and (max-width:767px){
            width: 100%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            height: 180px;
        }
         @media screen and (max-width:768px) and (max-width:992px){
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        img{
        width: 237px;
        height: 24px;
      
        @media screen and (max-width:767px){
            display: flex;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 24px;
        }
        }
        .links{
          
          height: 16px;
          display: flex;
          gap: 32px;
         
            @media screen and (max-width:767px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
              max-height: 272px;
            }
          a{
            font-family: Barlow;
                font-weight: 700;
                font-style: Bold;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.92px;
                text-transform: uppercase;
                text-decoration: none;
                color: #83888F;
                 @media screen and (max-width:767px){
                    display: flex;
                    flex-direction: row;
                    letter-spacing: 0px;
                 }
          }
        }
        .img-icon{
            display: flex;
            gap: 24px;
            img{
                width: 24px;
                height: 24px;
                
            }
        }
    }
}
