@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1270px;
}
@media screen and (min-width:768px) and (max-width:992px){
    .container{
        max-width: 704px;
    }
}
header {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            width: clamp(160px, 3vw, 237px);
        }

        nav {
            display: flex;
            gap: 33px;

            @media screen and (max-width:767px) {
                display: none;
            }

            a {
                font-family: Barlow;
                font-weight: 700;
                font-style: Bold;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.92px;
                text-transform: uppercase;
                text-decoration: none;
                color: #83888F;
            }

        }

        #menu {
            display: none;

            @media screen and (max-width:767px) {
                display: flex;
            }
            
        }
    }
}
#hero-section{
    padding-top: 80px;
    .container{
        padding-bottom: 140px;
        @media screen and (max-width:767px){
            padding-bottom: 64px;
        }
        .card-img{
            height: 462px;
            @media screen and (max-width:767px){
                height: 343px;
            }
            background-image: url(./heroSection.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 12px;
            .text{
                padding: 140px 134px 0 80px;
                @media screen and (max-width:767px){
                    padding: 16px ;
                    padding-top: 80px;
                }
                  h1{
                font-family: Fraunces;
                font-weight: 900;
                font-style: Black;
                font-size: 72px;
                line-height: 100%;
                letter-spacing: 0px;
                color: #FEFCF7;
                 @media screen and (max-width:767px){
                    font-size: 40px;
                 }
            }
            p{
                width: 444px;
                @media screen and (max-width:767px){
                    width: 295px;
                }
                font-family: Barlow;
                font-weight: 400;
                font-size: 16px;
                line-height: 160%;
                letter-spacing: 0px;
                color: #FEFCF7;

            }
            }
        }
    }
}
#section2{
    .container{
        background-color: #333D4B;
        
        .box{
            padding: 96px 64px 0 80px;
             @media screen and (max-width:767px){
                display: none;
             }
             @media screen and (min-width:768px) and (max-width:992px){
                padding-left: 32px;
                img{
                    width: 560px;
                }
             }
        }
        .row{
            display: flex;
            gap: 95px;
            padding: 64px 96px 0 80px;
            padding-bottom: 96px;
             @media screen and (max-width:767px){
                display:flex ;
                gap: 40px;
                padding: 48px 16px 0 16px;
                padding-bottom: 48px;
             }
             @media screen and (min-width:768px) and (max-width:992px){
                display: flex;
            gap: 32px;
            padding: 64px 0px 64PX 32px;
            
             }
            .cards{
                width: 100%;
                max-width: 285px;
                  @media screen and (max-width:767px){
                    width: 100%;
                    max-width: 311px;
                  }
                  @media screen and (min-width:768px) and (max-width:992px){
                    width: 192px;
                  }
                h2{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 72px;
                    line-height: 100%;
                    letter-spacing: 0px;
                    color: #FDD6BA;
                   @media screen and (max-width:767px){
                    text-align: center;
                   }
                }
                
                h3{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 32px;
                    line-height: 113.99999999999999%;
                    letter-spacing: 0px;
                    color: #FEFCF7;
                    @media screen and (max-width:767px){
                    text-align: center;
                   }
                }
                p{
                   font-family: Barlow;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0px;
                    color: #FEFCF7;
                     @media screen and (max-width:767px){
                    text-align: center;
                   }
                }
            }
        }
    }
}
#section3{
    .container{
        padding-top: 140px;
        padding-bottom: 140px;
        padding-left: 80px;
        padding-right: 80px;
        @media screen and (max-width:767px){
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 16px;
            padding-right: 16px;
        }
        @media screen and (min-width:768px) and (max-width:992px){
            padding-top: 64px;
            padding-bottom: 64px;
            padding-left: 16px;
            padding-right: 16px;
        }
        .row{
           
            h4{
                font-family: Fraunces;
                font-weight: 900;
                font-style: Black;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: 0px;
                color: #333D4B;
                span{
                    color: #0E8784;
                }
            }
            p{
                font-family: Fraunces;
                font-weight: 900;
                font-style: Black;
                font-size: 24px;
                line-height: 150%;
                letter-spacing: 0px;
                color: #75797d;
                span{
                    color: #83888F;
                }
              
            }
            hr{
                width: 100%;
                max-width: 251px;
                height: 1px;
                background-color: #83888F;
            }
            .accordion-body{
                
                .row{
                    @media screen and (min-width:992px){
                     
                    width: 730px; 
                    }
                    
                    @media screen and (max-width:768px) and (max-width:992px){
                        width: 100%;
                        max-width: 704px;
                    }
                    @media screen and (max-width:767px){
                        width: 100%;
                        
                    }
                    .card1{
                        width: 100%;
                        max-width: 228px;
                        height: 202px;
                        background-color: #F4F1EB;
                        border-radius: 4px;
                         @media screen and (max-width:768px) and (max-width:992px){
                             width: 100%;
                            max-width: 218px;
                            height: 170px;
                         }
                         @media screen and (max-width:767px){
                           width: 100%;
                            max-width: 343px ;
                            height: 155px;
                         }
                        .p1{
                            
                            font-family: Fraunces;
                            font-weight: 900;
                            font-style: Black;
                            font-size: 24px;
                            line-height: 150%;
                            letter-spacing: 0px;
                            color: #333D4B;
                            padding: 32px 24px 0px 24px;
                            @media screen and (max-width:768px) and (max-width:992px){
                                 padding: 20px 20px 0 20px;
                                 padding-right: 250px;
                            }
                            @media screen and (max-width:767px){
                                padding: 20px 20px 0 20px;
                            }
                        }
                        .p2{
                            font-family: Barlow;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 16px;
                            line-height: 160%;
                            letter-spacing: 0px;
                            color: #333D4B;
                            padding-left: 24px;
                            padding-bottom: 32px;
                            @media screen and (max-width:768px) and (max-width:992px){
                                padding: 0 20px 20px 20px;
                            }
                            @media screen and (max-width:767px){
                                 padding: 0 20px 20px 20px;
                                 padding-bottom: 20px;
                        
                            }
                        }
                    }
                    .card1:hover{
                        background-color: #FDD6BA;
                        border: 1px solid #0E8784;
                    }
                    .card2{
                        width: 100%;
                        max-width: 228px;
                        height: 202px;
                        background-color: #0E8784;
                        border-radius: 4px;
                        @media screen and (min-width:768px) and (max-width:992px){
                            width: 100%;
                            max-width: 218px;
                            height: 170px;
                         }
                         @media screen and (max-width:767px){
                            width: 100%;
                            max-width: 343px;
                            height: 155px;
                            
                         }
                           .p1{
                            font-family: Fraunces;
                            font-weight: 900;
                            font-style: Black;
                            font-size: 24px;
                            line-height: 150%;
                            letter-spacing: 0px;
                            color: #FFFFFF;
                            padding: 32px 24px 0px 24px;
                             @media screen and (min-width:768px) and (max-width:992px){
                                padding: 20px 20px 0 20px;
                            }
                             @media screen and (max-width:767px){
                                padding-top: 20px;
                                padding-left: 20px;
                                padding-right: 20px;
                                
                            }
                        }
                        .p2{
                            font-family: Barlow;
                            font-weight: 400;
                            font-style: Regular;
                            font-size: 16px;
                            line-height: 160%;
                            letter-spacing: 0px;
                            color: #FEFCF7;
                               padding-left: 24px;
                               padding-bottom: 32px;
                                @media screen and (min-width:768px) and (max-width:992px){
                                padding: 0 20px 20px 20px;
                            }
                             @media screen and (max-width:767px){
                                 padding-left: 20px;
                                 padding-right: 20px;
                                 padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
           .accordion,
                .accordion-item {
                border: none !important;
                   @media screen and (min-width:992px){
                        .accordion-button{width: 730px; }
                    }
                }
                .accordion-button {
                       @media screen and (min-width:992px){
                        .accordion-button{width: 730px; }
                    }
                    
                      @media screen and (max-width:768px) and (max-width:992px){
                        width: 100%;
                     
                        margin-left: 0;
                        margin-right: 0;
                    }
                    @media screen and (min-width:767px){
                        width: 100%;
                        min-width: 343px;
                        margin-left: 0;
                        margin-right: 0;
                    }
                border: none !important;
                box-shadow: none !important;
                }

                .accordion-button:focus {
                box-shadow: none !important;
                border-color: transparent !important;
                }
               .accordion-button::after {
                 background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230E8784'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
                }
                .accordion-button:not(.collapsed) {
                background-color: transparent !important;
                color: inherit !important;           
                box-shadow: none !important;          
                }
                .box2{
                    background-color: #333D4B;
                    border-radius: 12px;
                    .text-top{
                        font-family: Barlow;
                        font-weight: 400;
                        font-style: Regular;
                        font-size: 16px;
                        line-height: 160%;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        color: #FFFFFF;
                        padding-top: 48px;
                         padding-left: 64px;
                    }
                    .text-bottom{
                        font-family: Fraunces;
                        font-weight: 900;
                        font-style: Black;
                        font-size: 24px;
                        line-height: 150%;
                        letter-spacing: 0px;
                        color: #FFFFFF;
                        padding-left: 64px;
                        padding-right: 64px;
                        padding-bottom: 48px;
                        span{
                            color: #0E8784;
                        }
                    }
                    
                }
                .button-b{
                        background-color: #E2DEDB;
                        padding: 16px 32px;
                        border: 0;
                        font-family: Fraunces;
                        font-weight: 900;
                        font-style: Black;
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #FEFCF7;
                        
                    }
                    .button-b:hover{
                        border-radius: 8px;
                        background-color: #0E8784; 
                        box-shadow: 0px 0px 0px 3px #FFFFFF,
                        0px 0px 0px 5px #0E8784;

                    }
                    
        }  
        
    }
}
  p{
    font-family: Fraunces;
    font-weight: 900;
     font-style: Black;
     font-size: 40px;
    line-height: 120%;
     letter-spacing: 0px;
    color: #83888F;
    }
    
    #model{
            width: 100%;
            max-width: 1440px;
            height: 1024px;
            background-color: #333d4b86;
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0;
            z-index: 100;

            padding-bottom: 240px;
             @media screen and (max-width:767px){
               height: 1503px;
                align-items: flex-start;
               
               padding-top: 120px;
               padding-bottom: 600px;
              
             }
            .Createmodel{
                width: 100%;
                max-width: 500px;
                height: 500px;
                 @media screen and (max-width:767px){
                    width: 100%;
                    max-width: 311px;
                    height: auto;
                   padding: 20px 12px 0 12px;
                   
                 }
                 @media screen and (min-width:768px) and (max-width:992px){
                    margin-bottom: 150px;
                  
                 }
                .text2{
                    background-color: #333D4B;
                     padding-left: 48px;
                     border-radius: 8px 8px 0 0;
                     @media screen and (max-width:767px){
                         padding-left: 16px;
                         padding-top: 16px;
                         padding-bottom: 16px;
                     }
                    .p1{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 40px;
                    line-height: 120%;
                    letter-spacing: 0px;
                    color: #FFFFFF;
                    @media screen and (max-width:767px){
                        font-size: 28px;
                    }
                }
                }
               .text-3{
                padding: 48px;
                background-color: #FEFCF7;
                border-radius:0 0 8px 8px;
                  @media screen and (max-width:767px){
                    padding: 24px 16px 32px 16px;
                  }
                 p{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 24px;
                    line-height: 150%;
                    letter-spacing: 0px;
                    color: #83888F;
                    span{
                        color: #0E8784;
                    }
                }
                .p2{
                    font-family: Barlow;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 16px;
                    line-height: 160%;
                    letter-spacing: 0px;
                    color: #333D4B;
                }
                .p3{
                    font-family: Fraunces;
                    font-weight: 900;
                    font-style: Black;
                    font-size: 32px;
                    line-height: 113.99999999999999%;
                    letter-spacing: 0px;
                    color: #333D4B;
                }
                button{
                     background-color: #0E8784;
                        padding: 16px 32px;
                        border: 0;
                        font-family: Fraunces;
                        font-weight: 900;
                        font-style: Black;
                        font-size: 18px;
                        line-height: 140%;
                        letter-spacing: 0px;
                        text-align: center;
                        color: #FEFCF7;
                        border-radius: 8px;

                }
               }
            }
        } 
footer{
    width: 100%;
    height: 15vh;
    display: flex;
  justify-content: center;
   @media screen and (max-width:767px){
     padding: 80px 0;
     padding: 0 16px;
     
   }
    .container{
         margin-left: 0;
        margin-right: 0;
        width: 1280px;
        height: 120px;
        background-color: #333D4B;
       display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 80px;
        @media screen and (max-width:767px){
            width: 100%;
            padding: 0 16px;
            display: flex;
            flex-direction: column;
            height: 180px;
        }
        @media screen and (max-width:768px) and (max-width:992px){
            display: flex;
            flex-direction: column;
            padding-top: 16px;
            padding-bottom: 16px;
        }
        img{
        width: 237px;
        height: 24px;
      
        @media screen and (max-width:767px){
            display: flex;
            align-items: center;
            margin-top: 40px;
            margin-bottom: 24px;
        }
        }
        .links{
          
          height: 16px;
          display: flex;
          gap: 32px;
         
            @media screen and (max-width:767px){
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
              max-height: 272px;
            }
          a{
            font-family: Barlow;
                font-weight: 700;
                font-style: Bold;
                font-size: 12px;
                line-height: 130%;
                letter-spacing: 0.92px;
                text-transform: uppercase;
                text-decoration: none;
                color: #83888F;
                 @media screen and (max-width:767px){
                    display: flex;
                    flex-direction: row;
                    letter-spacing: 0px;
                 }
          }
        }
        .img-icon{
            display: flex;
            gap: 24px;
            img{
                width: 24px;
                height: 24px;
                
            }
        }
    }
}